.counters {
    font-size: 11px;
    margin-right: 30px;
    text-align: center;

    strong {
        display: block;
        font-size: 2em;
    }

    .vote, .answer {
        height: 60px;
        width: 60px;
    }

    .status {
        &.answered {
            border: 1px solid $green;
            color: $green;
        }

        &.unanswered {
            border: none;
        }

        &.answered-accepted {
            background-color: $green;
            color: $white;
        }
    }

    .view {
        margin-top: 10px;
    }
}

.vote-controls {
    margin-right: 30px;
    min-width: 60px;
    text-align: center;

    span, a {
        display: block;
    }

    span {
        &.votes-count {
            font-size: 25px;
        }
        &.favorite-count {
            font-size: 12px;
        }
    }
    a {       
        cursor: pointer;

        &.favorite {
            &.favorited, &.favorited:hover {
                color: $warning;
            }
        }
    }

    .up-vote i {
        color: $orange;
    }

    .down-vote i {
        color: $blue;
    }

    .vote-accepted a {
        color: $green;
    }
}